.caja {
  text-align: center;
  font-size: 2rem;
}

button {
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
}